@import "tailwindcss";

@theme {
    --font-sans: 'Inter', system-ui, sans-serif;

    --color-background: #09090b;
    /* Zinc 950 */
    --color-surface: #18181b;
    /* Zinc 900 */
    --color-surface-hover: #27272a;
    /* Zinc 800 */

    --color-primary: #6366f1;
    /* Indigo 500 */
    --color-primary-foreground: #ffffff;

    --color-secondary: #a1a1aa;
    /* Zinc 400 */

    --color-border: #27272a;
    /* Zinc 800 */

    --color-text-main: #fafafa;
    /* Zinc 50 */
    --color-text-muted: #a1a1aa;
    /* Zinc 400 */
}

html,
body {
    height: 100%;
    background-color: var(--color-background);
    color: var(--color-text-main);
    font-family: var(--font-sans);
}